main {
  
  display: flex;
  
  position: relative;
  
  

  
  
}

.game-base {
  width: 360px;
  height: 380px;
  margin: 0px;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  
  
}


.main-box {
  
  border: 2px solid #F5F5F5;
  border-radius: 6px;
  background-color: #F5F5F5;
  width: 320px;
  height: 320px;
  display: flex;
  margin: 0px;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  
}

.number-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  
  gap: 20px;
  margin: 0px;
  
}
h1 , p {
  margin: 0;
  font-family: karla;
}
h1 {
  margin-top: 33px;
  font-weight: 100;
  font-style: normal;
  
}
p {
  text-align: center;
  font-family: inter;
  max-width: 250px;
  margin-bottom: 23px;
  font-weight: 100;
  font-size: 0.75rem;
  font-style: normal;
}

.btn {
  width: 40px;
  height: 40px; /* 35px*/
  font-family: karla;
  text-align: center;
  border: 0;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #2B283A;
  font-size: 1.28rem;
  font-style: normal;
  
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  
}

.btn-held {
  width: 40px;
  height: 40px; /* 35px*/
  font-family: karla;
  text-align: center;
  border: 0;
  border-radius: 6px;
  background-color: #59E391;
  color: #2B283A;
  font-size: 1.28rem;
  font-style: normal;
  
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;

}


.btn-roll {
  font-family: karla;
  width: 92px;
  height: 35px;
  margin-top: 20px;
  text-align: center;
  border: 0;
  border-radius: 3px;
  background-color: #5035FF;
  color: #FFFFFF;
  font-size: 1.10rem;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  
}

.btn:hover {
  background-color: orange;
}

.btn-roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.youWon {
  position:absolute;
  
  bottom: 13px;
}

.btn-win {
  font-family: karla;
  width: 92px;
  height: 35px;
  margin-top: 20px;
  text-align: center;
  border: 0;
  border-radius: 3px;
  background-color: #5035FF;
  color: #FFFFFF;
  font-size: 1.00rem;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
}
.btn-win:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}



.sidebar {
  background-color: #58a191;
  width: 140px;
  height: 320px;
  border: 2px solid #F5F5F5;
  border-radius: 6px;
  margin: 0px;
  
}

.sidebar-container {
  background-color: #0B2434;
  width: 163px;
  height: 380px;
  margin: 0px;
  display: flex;
  justify-content: left;
  justify-items: center;
  align-items: center;
  
}

.sidebar-detail {
  font-family: inter;
  background-color: #F5F5F5;
  padding: 3px 6px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  border: 2px solid #910000;
  color: #27231E;
  
  font-weight:900;
    
}

.sidebar > h4 {
  margin-top: 43px;
  font-size: 0.86rem;  
}

.sidebar > h3 {
  
  
  margin-top: 50px;
  font-size: 0.90rem;
}

.dice-dot-box {
  margin: 0;
  position:absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "p1 p2 p3" "p4 p5 p6" "p7 p8 p9";

}


#dotN1 {
  grid-area: p1;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}
#dotN2 {
  grid-area: p3;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}
#dotN3 {
  grid-area: p4;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}
#dotN4 {
  grid-area: p6;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}
#dotN5 {
  grid-area: p7;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}
#dotN6 {
  grid-area: p9;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}
#dotN7 {
  grid-area: p3;
  width: 6px;
  height: 6px;
  background-color: #ff0000;
  border-radius: 10%;
}
#dotN8 {
  grid-area: p2;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}
#dotN9 {
  grid-area: p5;
  width: 8px;
  height: 8px;
  background-color: #ff0000;
  border-radius: 15%;
}
#dotN10 {
  grid-area: p5;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
}


.dice-switch {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  bottom: 0;
  
  
  font-family: karla;
  text-align: center;
  border-radius: 6px;
  background-color: #ffffff;
  color: #2B283A;
  font-size: 1rem;
  font-style: normal;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  
  
}

.dice-dot-box-switch {
  margin: 0;
  position:absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "p1 p2 p3" "p4 p5 p6" "p7 p8 p9";

}

